flor
Pebble
pymisp
cryptography==42.0.0
requests[security,socks]
pyOpenSSL
pefile
tldextract
imagehash
oletools
olefile
networkx>=2.1
mixbox
capstone
PyCrypto
voluptuous
xmltodict
future
python-dateutil
requests_file
gevent==23.9.1
simplejson
pyvmomi
pyinstaller
maec
regex
xmltodict
SFlock2==0.3.21
git+https://github.com/doomedraven/socks5man.git
pyattck==4.0.3
distorm3
openpyxl
git+https://github.com/volatilityfoundation/volatility3
git+https://github.com/DissectMalware/XLMMacroDeobfuscator
passlib
pyzipper
# https://github.com/kevoreilly/CAPEv2/commit/b9ec2271881dfe2621d7672541d562d8bf563533
#git+https://github.com/Defense-Cyber-Crime-Center/DC3-MWCP.git
mwcp
git+https://github.com/kevthehermit/RATDecoders.git
git+https://github.com/fireeye/capa.git
greenlet==0.4.16
cython
# According to sources, pyre2 can be installed
# directly via pip as opposed to pip git+, so
# we do that to avoid errors
#git+https://github.com/andreasvc/pyre2.git
pyre2
# Ansible pip gets stuck due to fail/success message by pip?
#   ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
#   log-symbols 0.0.14 requires colorama>=0.3.9, but you have colorama 0.3.7 which is incompatible.
#   halo 0.0.31 requires colorama>=0.3.9, but you have colorama 0.3.7 which is incompatible.
#   Successfully installed colorama-0.3.7 jsbeautifier-1.6.2 peepdf-0.4.2 pythonaes-1.0
# Install peepdf manually for now
#git+https://github.com/CAPESandbox/peepdf.git
matplotlib>=2.2.2
numpy>=1.15.0
six>=1.12.0
statistics>=1.0.3.5
django>3
sqlalchemy
sqlalchemy-utils
jinja2
markupsafe
chardet
pygal
rarfile
jsbeautifier
dpkt
nose
dnspython
pytz
python-magic
geoip
pillow>=7
java-random
python-whois
bs4
pype32-py3
git+https://github.com/kbandla/pydeep.git
pyvmomi
django-recaptcha==2.0.6 # https://pypi.org/project/django-recaptcha/
django-allauth # https://django-allauth.readthedocs.io/en/latest/configuration.html
django-crispy-forms
git+https://github.com/CAPESandbox/httpreplay
django-settings-export
django-csp
django-otp
django-extensions
qrcode
python-tlsh
djangorestframework
yara-python>=4.0.0
netstruct
pymongo>=3.11.3
psutil==5.8.0
tabulate[widechars]==0.8.9
